header {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
}

.main-nav {
  display: flex;
  justify-content: space-between; /* логотип ліворуч, меню по центру, кнопка праворуч */
  align-items: center;
  background-color: var(--color-bg-header);
  padding: 0.75rem 2rem;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: var(--color-accent);
}