/* Iryna Zhavelia */
.footer {
    background: var(--secondary-dark-background-color);
    color: var(--text-on-dark-color);
}


.footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    background: var(--secondary-dark-background-color);
}

.footer__tagline {
    text-align: center;
}

/* Common child containers inside the footer */
.footer__branding,
.footer__nav,
.footer__social {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.footer__brand {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

.footer__brand-link {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__col {
    padding: 0 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer__decoration {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}


.footer__cols {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.footer__title {
    font-family: Questrial, sans-serif;
    font-size: 24px;
    color: var(--big-title-on-dark-color);
    text-align: center;
}

.footer__decorator {
    width: 100%;
    text-align: center;
}

.footer__link {
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.footer__social {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.footer__list {
    list-style: none;
    width: 100%;
}

.footer__link {
    text-decoration: none;
    color: var(--text-on-dark-color);
    text-align: center;
}

.footer__item {
    margin: 10px 5px;
    text-align: center;
}

.footer__link:hover {
    color: var(--accent-color);
}

.footer__legal {
    width: 100%;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
}

/* Make footer stack on small screens */
@media (min-width: 767px) {
    .footer__decoration {
        display: flex;
        flex-direction: row;
    }

    .footer__decorator {
        text-align: start;
    }

    .footer__col {
        margin-top: 20px;
        padding: 0;
    }

    .footer__cols {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        gap: 0.75rem;
    }

    .footer__brand {
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: start;
    }

    .footer__brand-link {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .footer__tagline {
        text-align: left;
    }

    .footer__item {
        text-align: left;
    }

    .footer__title {
        text-align: left;
    }

    .footer__nav,
    .footer__branding {
        justify-content: center;
        width: 100%;
    }

    .footer__social {
        justify-content: start;
    }
}


/* Iryna Zhavelia */