/* Iryna Zhavelia */
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    background: var(--secondary-dark-background-color);
}
.footer__tagline{
    color:var(--big-title-on-dark-color);
}
/* Common child containers inside the footer */
.footer__branding,
.footer__nav,
.footer__social {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* Make footer stack on small screens */
@media (max-width: 425px) {
     .footer__decoration{
        display: flex;
        flex-direction: column;
     }
     .footer__col{margin-top: 20px;}
     .footer__cols{
        display: flex;
        flex-direction: column;
     }
}

@media (max-width: 640px) {
    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        gap: 0.75rem;
    }

    .footer__nav,
    .footer__branding,
    .footer__social {
        justify-content: center;
        width: 100%;
    }
}

.footer__cols {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
}

.footer__col {
    padding: 0 30px;
}

.footer__decoration {
    display: flex;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.footer__title {
    font-family: Questrial, sans-serif;
    font-size: 24px;
    color:var(--big-title-on-dark-color);
}

.footer__link {
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.footer__social {
    margin-top: 30px;
}

.footer__social svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.footer__list {
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color:var(--big-title-on-dark-color);
}

.footer__item {
    margin: 10px 5px;
}

.footer__link:hover {
    color:var(--accent-color);
}

.footer__legal {
    width: 100%;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
}
/* Iryna Zhavelia */
