@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Questrial&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --accent-title-color: #FF6534;
  --big-title-color: #121212;
  --subtitle-color: #4E4E4E;
  --text-color: #727272;
  --big-title-on-dark-color: #FFF;
  --subtitle-on-dark-color: #F6F6F6;
  --text-on-dark-color: #BDBDBD;
  --light-background-color: #FFF;
  --dark-background-color: #121212;
  --secondary-dark-background-color: #181818;
  --tertiary-background-color: hsl(0, 0%, 96%);
  --accent-button-color: #FF6534;
  --accent-color: #FF6534;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-inline: 40px;
}
.hero-repair__image {
  max-width: 1170;
  max-height: 484.02;
  width: 100%;
  height: auto;
  display: block;
  padding-inline: 40px;
}

