body {
  margin: 0;
  margin-top: 150px;
  background: #f6f6f6;
}

.testimonials {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 0 20px;
}
.testimonials__title {
  color: #ff6534;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}
.testimonials__subtext {
  font-size: 21px;
  color: #4e4e4e;
  font-weight: 400;
}
.testimonials__subtext-bold {
  font-weight: 600;
}
.testimonials__contact {
  font-size: 15px;
  color: #727272;
}
.testimonials__tel {
  color: #ff6534;
  font-weight: 600;
}
.testimonials-carousel {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 10px rgb(116, 116, 116);
}
.testimonials-carousel__wrapper {
  overflow: hidden;
}
.testimonials-carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border: none;
  background: transparent;
  transition: 0.3s ease;
}
.testimonials-carousel__btn:hover {
  color: black;
  transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}
.testimonials-carousel__btn--prev {
  left: -10px;
  transform: translateY(-50%) rotate(180deg);
}
.testimonials-carousel__btn--prev:hover {
  transform: translateY(-50%) scale(1.2) rotate(180deg);
}
.testimonials-carousel__btn--next {
  right: -10px;
}
.testimonials-carousel__btn--arow {
  color: #5a5a5a;
}
.testimonials-carousel__track {
  display: flex;
  transition: 0.5s ease;
}
.testimonials-carousel__slide {
  flex: 0 0 100%;
}
.testimonials-carousel__image {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background: #eee;
}
.testimonials-carousel__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-carousel__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: start;
  max-width: 445px;
  margin: 0 auto;
  padding: 40px 40px;
}
.testimonials-carousel__quote-mark {
  width: 50px;
  height: 50px;
  color: #ff6534;
}
.testimonials-carousel__title {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Questrial", sans-serif;
  color: #808080;
}
.testimonials-carousel__paragraph {
  color: #808080;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
}
.testimonials-carousel__author {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #5a5a5a;
  text-transform: uppercase;
}

@media (min-width: 770px) {
  .testimonials-carousel {
    max-width: 1170px;
  }
  .testimonials-carousel__slide {
    display: flex;
  }
  .testimonials-carousel__image {
    order: 2;
  }
}
@media (min-width: 900px) {
  .testimonials-carousel__content {
    padding: 60px 70px;
  }
}
@media (min-width: 1250px) {
  .testimonials-carousel__btn--prev {
    left: -50px;
  }
  .testimonials-carousel__btn--next {
    right: -50px;
  }
}