body {
  background-image: url('../assets/img/header-header-hero/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}