.about-us {
  background-color: var(--light-background-color);
  padding: 45px 0 90px 0;
}

.about-us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .about-us__container {
    flex-direction: row;
    justify-content: center;
  }
}

.about-us__image {
  width: 100%;
  max-width: 555px;
  height: auto;
  padding: 0 20px;
}

.about-us__image img {
  width: 100%;
  height: auto;
  max-width: 555px;
  object-fit: contain;
  display: block;
}

.about-us__content {
  padding: 0 20px;
  display: grid;
  gap: 25px;
}

@media (max-width: 600px) {
  .about-us__content {
    margin-top: 60px;
  }
}

.about-us__label {
  font-size: 12px;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
}

.about-us__accent-dot {
  color: var(--accent-color);
}

.about-us__title {
  font-size: 38px;
  line-height: 1.1;
  font-family: "Questrial", sans-serif;
  color: var(--big-title-color);
}

.about-us__subtitle {
  font-size: 19px;
  line-height: 1.6;
  color: var(--subtitle-color);
  font-weight: 600;
}

.about-us__description,
.about-us__extra {
  line-height: 1.6;
  font-size: 17px;
  color: var(--text-color);
}

.about-us__link {
  background-color: var(--accent-button-color);
  color: var(--big-title-on-dark-color);
  padding: 12px 24px;
  text-decoration: none;
  font-size: 15px;
  width: 161px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about-us__icon {
  width: 24px;
  height: 24px;
}

.about-us__icon svg {
  width: 100%;
  height: 100%;
}

.about-us__link:hover {
  background-color: #0d0c0c;
}

@media (min-width: 1024px) {
  .about-us {
    padding: 60px 0 120px;
  }

  .about-us__container {
    display: flex;
    align-items: stretch;
  }

  .about-us__image {
    padding: 0 30px;
    max-width: 555px;
    object-fit: contain;
  }

  .about-us__content {
    width: 615px;
    padding: 0 30px;
  }

  .about-us__title {
    font-size: 56px;
  }
}
