.about-us {
  background-color: var(--light-background-color);
    /* align-items: center;
  justify-content: center;
  position: relative; */
  padding-top: 60px;
  padding-bottom: 120px;
  
}

.about-us__container {
  display: flex;                
  align-items: stretch;          
  justify-content: space-between; 
}

.about-us__image {
  width: 555px;
  padding-right: 30px;
}

.about-us__content {
  width: 555px;
  padding-left: 30px;
  /* gap: 20px; */
}

.about-us__label {
  color: var(--accent-color);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-us__title {
    margin-top: 25px;
  font-size: 56px;
  color: var(--big-title-color);
  font-family: 'Questrial', sans-serif;
}

.about-us__subtitle {
    margin-top: 25px;
  color: var(--subtitle-color);
  font-size: 19px;
  line-height: 1.5;
}

.about-us__description,
.about-us__extra {
  color: var(--text-color);
  font-size: 17px;
  margin-top: 25px;
  line-height: 1.5;
}

.about-us__link {
  display: inline-block;
  background-color: var(--accent-button-color);
  color: white;
  width: 161px;
  padding: 12px 24px;
  margin-top: 40px;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5;
}

.about-us__link:hover {
  background-color: #0d0c0c;
}
