/* Головний контейнер */
.work-steps {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  background-color: var(--secondary-dark-background-color);
}

/* Дві колонки на ширших екранах */
@media (min-width: 768px) {
  .work-steps {
    grid-template-columns: 1fr 1fr;
    align-items: stretch; /* дозволяє розтягнути картинку по висоті */
  }
}

/* Ліва текстова частина */
.text-part {
  display: grid;
  gap: 30px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 30px;
  padding-right: 30px;
  flex: 1;
  
  @media (min-width: 768px) {
  padding-top: 105px;
  padding-bottom: 95px;
}
}

/* Один крок */
.work-steps__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  flex: 1;
}

/* Заголовки */
.work-steps__title {
  font-size: 12px;
  color: var(--accent-title-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.work-steps__subtitle {
  font-size: 38px;
  color: var(--big-title-on-dark-color);
  font-family: 'Questrial', sans-serif;
  @media (min-width: 768px) {
    font-size: 47px;
  }
}

.work-steps__subtitle .dot {
  color: var(--accent-title-color);
}

.work-steps__intro {
  font-size: 19px;
  font-weight: 600;
  color: var(--subtitle-on-dark-color);
  font-family: 'Lato', sans-serif;
}

/* Step text */
.work-steps__step {
  font-size: 23px;
  font-weight: 600;
  color: var(--big-title-on-dark-color);
  font-family: 'Questrial', sans-serif;
  margin: 0 0 5px 0;
}

.work-steps__number {
  color: var(--accent-title-color);
  font-weight: 700;
}

.work-steps__paragraph {
  font-size: 17px;
  color: var(--text-on-dark-color);
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
}

/* Колонка з картинкою */
.img-part {
  height: 100%;
  align-self: stretch; /* займає всю висоту Grid-рядка */
  display: flex;
}

/* Картинка */
.work-steps__process-img {
  width: 100%;
  height: 100%; /* заповнює всю колонку */
  object-fit: cover; /* обрізає правильно */
}