<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TechPro</title>
    <link rel="shortcut icon" href="assets/img/global/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/about-us.css">
</head>

    <header class="header">
        <!-- Navigation menu will be loaded here -->
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.html">
        </nav>
    </header>
    <main class="main">

        <!-- Vitalii Romaniuk -->
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.hero.navigation.partial.html">
        </section>
        <!-- Vitalii Romaniuk -->

        <!-- Angelina Truhon -->
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.intro.partial.html">
        </section>
        <!-- Angelina Truhon -->

        <!-- Sinkin Volodymyr-->
         <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.process.partial.html">
         </section>
        <!-- Sinkin Volodymyr--> 

        <!-- Yana Stepaniuk -->
         <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.team.partial.html">
        </section>
        <!-- Yana Stepaniuk -->
                
        <!-- @Alina Vlasenko -->
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.faq.partial.html">
        </section>
        <!-- @Alina Vlasenko -->
    </main>

    <footer class="footer">
        <!-- Footer will be loaded here -->
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html">
        </nav>
    </footer>
    <script src="js/global.header-nav.js"></script>
    <script src="js/about-us.js"></script>
</body>

</html>