<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="shortcut icon" href="assets/img/global/favicon.png" type="image/x-icon" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Romaniuk Vitalii -->
 <header class="header">
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
</header>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></section>
  <!-- Romaniuk Vitalii -->

  <main class="main">
    <!-- Yaroslav Pundor -->    
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.features.partial.html"></section>
        <!-- Yaroslav Pundor -->    

    <!-- Anastasiia Stadnichenko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.about-us.partial.html"></section>
    <!-- Anastasiia Stadnichenko -->

    <!-- Maxym Salo -->
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.work-steps.partial.html"></div>
    <!-- Maxym Salo -->

    <!-- Sofiia Tolstonoh -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.services.partial.html"></section>
    <!-- Sofiia Tolstonoh -->
        <!-- Shkarupa Vlad -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.stats.partial.html"></section>
    <!-- Shkarupa Vlad -->

    <!-- Shubets Roman -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.sale.partial.html"></section>
    <!-- Shubets Roman -->

      <!--Sorokovij Pavlo-->
            <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.cta.partial.html"></section>
     <!--SorokovijPavlo-->

    <!--Serafym Starobrianskyi-->
    <section hx-trigger="load" hx-get="index.testimonials.partial.html" hxstimonials" hx-swap="outerHTML"> </section>
    <!--finish Serafym Starobrianskyi-->

    <!--Vadym Shchuryk-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.faq.partial.html"></section>
    <!--Vadym Shchuryk-->

    <!-- Stanislav Tarasiuk -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.contact.partial.html"></section>
    <!-- Stanislav Tarasiuk -->
  </main>
  
  <footer class="footer">
  <!-- Zhavelia Iryna -->
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></nav>
  <!-- Zhavelia Iryna -->
          
    </footer>
</body>

</html>